.detailing{
	&__title{
		margin-bottom: 40px;
		h2{
			@include titleH2;
			text-align: center;
			text-transform: uppercase;
		}
	}
	&__items{
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media screen and (min-width:1024px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media screen and (min-width:768px) and (max-width:1023.9px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (min-width:768px) {
			display: grid;
		}
	}
	&__item{
		position: relative;
		aspect-ratio: 1;
		padding: 24px;
		display: flex;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background: linear-gradient(0deg, rgba(30, 30, 30, 0.50) 0%, rgba(30, 30, 30, 0.50) 100%);
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;

		}
		&__content{
			position: relative;
			z-index: 2;
			color: $--white;
			margin-top: auto;
			display: flex;
			flex-direction: column;
			gap: 12px;
			h3{
				font-size: 20px;
				font-style: normal;
				font-weight: 800;
				line-height: 130%; /* 26px */
				letter-spacing: 0.2px;
				transition: .3s linear;
				&:hover{
					color: $--primary-red;
				}
			}
			a:not(h3 a){
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 21px */
				letter-spacing: 0.14px;
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				gap: 8px;
				transition: .3s linear;
				svg{
					max-width: 10px;
					width: 100%;
					height: fit-content;
					transition: .3s linear;
				}
				&:hover{
					svg{
						transform: translateX(5px);
					}
				}
			}
		}
	}
}